.idea
*.png
/logs/*
/bin/
/target/
/test-output/
/TestReport/

#Eclipse
.classpath
.project
.settings/

#IntelliJ
.idea/
*.iml
*.iws
.idea/artifacts
.idea/libraries
/.idea/.name
/.idea/compiler.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/encodings.xml